
@model EventApplication.Models.OrderSummaryViewModel

@{
    ViewBag.Title = "OrderSummary";
}

<h2>OrderSummary</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
        </dt>

        <dd>
            
        </dd>

        


    </dl>
</div>


@Html.ActionLink("Go To My Tickets", "GoToMyTickets", "Order", new { @class = "btn btn-primary" })