@model EventApplication.Models.OrderSummaryViewModel
@{
                /**/

                ViewBag.Title = "Ticket Orders";
}


<h2>Ticket Orders</h2>

<div>
    <table class="table">
        <tr>
            <th> Title </th>
            <th> Number of Tickets </th>
            <th> Date Ordered </th>
            <th> Order Status </th>
            <th></th>
        </tr>

        @foreach (var item in Model.OrderItems)
        {
            <tr>
                <td> @item.EventSelected.Title </td>
                <td> @item.Count </td>
                <td> @item.DateCreated </td>
                <td id="orderStatus">Processed </td>

                <td><a href="#">Cancel Order</a></td>
            </tr>
        }
    </table>

</div>


<p class="button">
    @Html.ActionLink("Back to Browsing Events", "Index", "Home")
</p>
