@model EventApplication.Models.OrderSummaryViewModel
@{
    ViewBag.Title = "Order Summary (Index)";
}

<h2>Here is your order cart</h2>
<div>
    <table>
        <tr>
            <th> Title </th>
            <th> Quantity </th>
        </tr>

        @foreach (var item in Model.OrderItems)
        {
            <tr>
                <td> @item.EventSelected.Title </td>
                <td><a href="#">Cancel Order</a></td>
            </tr>
        }
    </table>
</div>