@model EventApplication.Models.Order

    @{
        ViewBag.Title = "Register";
    }

    <h2>Register</h2>




    <input type="text" name="q" placeholder="Event or Event Type" />



    <p>
        @Html.ActionLink("Register", "Register", "Order", new { id = Model.EventId })
</p>




