@model EnrollmentApplication.Models.Student

<div class = "panel panel-primary">

    <div class= "panel-body">
        <p>Student of the Month: <strong>@Model.FirstName  @Model.LastName</strong></p>
    </div>
</div>
