@model MVCMusicStoreApplication.Models.Album

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<h2> @Html.DisplayFor(model => model.Title)</h2>
<div> <img src=@Html.DisplayFor(model => model.AlbumArtUrl)></div>
<p>
    <em>Artist: </em> @Html.DisplayFor(model => model.Artist.Name)
</p>

<p>
    <em>Price: </em>  @Html.DisplayFor(model => model.Price)
</p>

@Html.ActionLink("Add to cart", "AddToCart",
       "ShoppingCart",
       new { id = Model.AlbumId },
       new { @class = "btn btn-primary"})
