<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My XYZ Store</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <h1>Welcome to XYZ Store</h1>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer>
        <p>Copyright of XYZ Store</p>
    </footer>
</body>
</html>
