@model IEnumerable<EventApplication.Models.Event>

@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Event Unlimited</h1>
    <p class="lead">Find events near you. Never miss out again!</p>
</div>

<div class="row">
    <div class="col-md-6">
        @using (Ajax.BeginForm("EventSearch", "Home",
        new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "GET",
            OnFailure = "homesearchfailed",
            LoadingElementId = "ajax-loader",
            UpdateTargetId = "eventsearchhome",
        }))
        {
            <h2>Find an Event</h2>

            <input type="text" name="q" placeholder="Event or Event Type" />
            <input type="text" name="q" placeholder="Location: City or State" />

            <input type="submit" class="btn btn-primary" value="Search" />


            <image id="ajax-loader"
                   src="@Url.Content("~/Images/ajax-loader.gif")"
                   style="display:none" />

            <div id="eventsearchhome">
            </div>
        }
    </div>

    

    <div class="col-md-6">
        @using (Ajax.BeginForm("LastMinuteDeals", "Home",
        new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "GET",
            LoadingElementId = "ajax-loader",
            UpdateTargetId = "lastminutedeals",
        }))
        {
            <div id="lastminutedeals">
                <input type="submit" class="btn btn-primary" value="Click here for Last Minute Deals!" />
            </div>
            <image id="ajax-loader"
                   src="@Url.Content("~/Images/ajax-loader.gif")"
                   style="display:none" />
        }

    </div>
</div>

@section Scripts {
    <script src="~/Scripts/Apps/EventSiteScripts.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}